
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; background-color:green; width:auto; height:auto; padding:3%"><b>!!! PAYMENT SUCCESSFUL. Thank You for Shopping with us !!!</b><br /> <br />
Click <a href="~/Orders/Index/@ViewBag.id">My Order</a> to return to your order
</h2>

